// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header {
        background-color: #21B6A8;
    }
    .wrapper {
        background-color: #A3EBB1;
    }
    .wrapper h1 {
        color: #18A558;
    }
    .wrapper h2 {
        color: #18A558;
    }
    .wrapper p {
        color: #18A558;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .header {
        background-color: #FF2768;
    }
    .wrapper {
        background-color: #05E0E9;
    }
    .wrapper h1 {
        color: #4E1A3D;
    }
    .wrapper h2 {
        color: #4E1A3D;
    }
    .wrapper p {
        color: #4E1A3D;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        background-color: #057DCD;
    }
    .wrapper {
        background-color: #43B0F1;
    }
    .wrapper h1 {
        color: #E8EEF1;
    }
    .wrapper h2 {
        color: #E8EEF1;
    }
    .wrapper p {
        color: #E8EEF1;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header {
        background-color: #D103D1;
    }
    .wrapper {
        background-color: #6E3562;
    }
    .wrapper h1 {
        color: #6D8343;
    }
    .wrapper h2 {
        color: #A3C14A;
    }
    .wrapper p {
        color: #A3C14A;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .header {
        background-color: #FF2768;
    }
    .wrapper {
        background-color: #05E0E9;
    }
    .wrapper h1 {
        color: #4E1A3D;
    }
    .wrapper h2 {
        color: #4E1A3D;
    }
    .wrapper p {
        color: #4E1A3D;
    }
}