*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header, .hero, .body, .bar, .footer, .vertical-alignment, .flex-use{
	background-color: transparent;
	margin-bottom: 5x;
}


.myanim {
  min-width: 100px;
  height: 100px;
  background-color: coral;
  color: white;
  animation: myanimation 3s infinite;
}

.myanim-i {
  min-width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  animation: myanim 3s infinite;
}


/* 1st right 2nd bottom 3rd blur(70px) 4th spread(20px) */ 

@keyframes myanimation {
  50% {box-shadow: 20px 20px 70px 20px grey;}
}

@keyframes myanim {
  50% {box-shadow: 0px -180px 70px 20px white inset;}
}


.box-2{
	min-height: 100px;
    margin-bottom: 5px;
    padding-top: 30px;
    color: aliceblue;
    background-color: crimson;
    text-align: center;
    text-transform: capitalize;
}
.box-3{
	min-height: 100px;
    margin-bottom: 5px;
    padding-top: 30px;
    background-color:#f0ad4e;
    text-align: center;
    text-transform: capitalize;
}

.box-4{
    width: 100px;
    height: 100px;
	margin-bottom: 5px;
    padding-top: 30px;
    background-color:#4385f0;
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
}

.box-5{
    min-width: 200px;
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    background-color: #4385f0;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}

.box-6{
    min-width: 200px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid white;
}

.box-7{
    min-height: 200px;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid white;
    background-color: aqua;
}

.red{
	background-color: red;
}

.box{
    margin-bottom: 5px;
    padding-top: 20px;
    color: black;
    border: 1px solid crimson;
    min-height: 100px;
    text-align: center;
    text-transform: capitalize;
}
.box-1{
    min-height: 100px;
    margin-bottom: 15px;
    color: limegreen;
	border: 2px solid green;
	border-radius: 3px;
	text-align: center;
	font-size: 18px;
}

.box-10{
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 15px;
	text-align: center;
	font-size: 18px;
}

.text-box{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
	text-align: justify;
	font-size: 18px;
    overflow: hidden;
}


.navbar {
	background-color: lightgoldenrodyellow;
    margin-bottom: 100px;
}

.navbar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

}

.navbar ul li{
    float: left;
}

.navbar ul li a{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: darkgreen;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}